##############################
## POSTGRESQL BACKUP CONFIG ##
##############################
 
# Optional system user to run backups as.  If the user the script is running as doesn't match this
# the script terminates.  Leave blank to skip check.
BACKUP_USER=

# As far as I know there are no plans to extend amount of databases. So we have only database name adjustment
DATABASE=test1
 
# Optional hostname to adhere to pg_hba policies.  Will default to "localhost" if none specified.
HOSTNAME=127.0.0.1
 
# Optional username to connect to database as.  Will default to "postgres" if none specified.
USERNAME=postgres
 
# This dir will be created if it doesn't exist.  This must be writable by the user the script is
# running as.
BACKUP_DIR=/home/osboxes/Desktop/backup/pg_basebackup_dump_1.0/backup/backup

ARCHIVE_DIR=/home/osboxes/Desktop/backup/pg_basebackup_dump_1.0/backup/archive
 
# Will produce a custom-format backup if set to "yes"
ENABLE_CUSTOM_BACKUPS=yes
 
# Will produce a gzipped plain-format backup if set to "yes"
ENABLE_PLAIN_BACKUPS=yes
 
# Will produce gzipped sql file containing the cluster globals, like users and passwords, if set to "yes"
ENABLE_PG_BASEBACKUP=yes
 
 
#### SETTINGS FOR ROTATED BACKUPS ####
 
# Number of days to keep WAL after pg_basebackup successfully completed
DAYS_TO_KEEP=1
 
 
######################################
